:root {
  --black: #000000;
  --white: #ffffff;
  --gray: #333333;
  --light-gray: #444444;
  --s-gray: #999999;
  --b-gray: #eeeeee;
  --silver: #cccccc;
  --red: #e73737;
  --amber: #ffd338;
  --green: #0fcf5c;

  --aura-verification-gold: #FFD700;
  --aura-verification-silver: #C0C0C0;
  --aura-verification-bronze: #CD7F32;
}

//screen config
$maxWidth: 375;
$minWidth: 320;

//breakpoints
$br1: 460px;

//easings
$easing: cubic-bezier(0.16, 1, 0.3, 1);

// layouts
$g-offset: 16px;
