:root {
  --black: #000000;
  --white: #ffffff;
  --red: #e73737;
  --grey: #333333;
  --s-grey: #999999;
  --b-grey: #EEEEEE;
  --silver: #CCCCCC;
}

//screen config
$maxWidth: 375;
$minWidth: 320;

//breakpoints
$br1: 460px;

//easings
$easing: cubic-bezier(0.16, 1, 0.3, 1);

// layouts
$g-offset: 16px;
