.activity {
  margin-top: 112px;
  padding-bottom: 60px;
  .toggle-switch {
    margin-right: 24px;
  }
}

.activity__title {
  @include semi;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -0.03em;
  color: var(--b-grey);
}

.activity__data {
  margin-top: 30px;
}

.activity__filters {
  margin-top: 30px;
  margin-bottom: 24px;
}

.activity__info {
  margin-top: 12px;
}

.activity__tab-name {
  font-size: 12px;
}

.activity__list {
  + .activity__list {
    margin-top: 12px;
  }
}

.activity__main {
  display: flex;
  align-items: center;
}

.activity__right-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.activity__text {
  @include mono-bold;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -0.03em;
  color: var(--b-grey);
  margin-right: 12px;
}

.activity__action {
  @include mono-reg;
  color: var(--s-grey);
}

.activity__time {
  @include mono-reg;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: -0.03em;
  color: var(--s-grey);
  text-align: right;
  white-space: nowrap;
}

.activity__stripe {
  width: 100%;
  height: 1px;
  opacity: 0.2;
  background-color: var(--b-grey);
  margin-top: 12px;
}

.activity-switch {
  margin-top: 60px;
}
