.community {
  margin-top: 112px;
}

.community__search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.community__search-title {
  @include semi;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -0.03em;
  text-align: center;
  color: var(--b-grey);
  margin-bottom: 42px;
}

.community__input-wrapper {
  position: relative;
}

.community__users {
  margin-top: 60px;
}

.community__humans-title {
  @include semi;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -0.03em;
  text-align: center;
  color: var(--b-grey);
  margin-bottom: 44px;
}

.community__switch-button {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.community__button {
  @include mono-bold;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: -0.03em;
  background-color: transparent;
  border: 2px solid var(--b-grey);
  border-radius: 70px;
  color: var(--white);
  padding: 4px 15px;
}

.community__humans {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 64px;
  column-gap: 105px;
  row-gap: 40px;
}

.community__image {
  border-radius: 90px;
  width: 74px;
  height: 74px;
  box-shadow: 0px 1px 20px 20px var(--white), inset 0px 75px 50px rgba(0, 0, 0, 0.25);
}

.community__tag {
  display: flex;
  align-items: center;
  text-align: center;
  @include semi;
  margin-top: 22px;
  letter-spacing: -0.03em;
  font-size: 16px;
  line-height: 175%;
  color: var(--b-grey);
}

.community__switch-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn__wrapper {
  display: flex;
  justify-content: center;
}

.community__btn {
  @include semi;
  display: block;
  border: none;
  background-color: transparent;
  margin-top: 70px;
  margin-bottom: 108px;
  color: var(--white);
  padding: 0;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: -0.03em;
}
