.contact-us {
  margin-top: 112px;
  padding-bottom: 60px;

  .toggle-switch {
    margin-right: 24px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
  }

  &__title {
    @include semi;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -0.03em;
    color: var(--b-gray);
    margin-bottom: 48px;
  }

  &__text {
    @include med;
    margin-top: 30px;
    font-size: 16px;
    line-height: 150%;
    background: linear-gradient(
        90deg,
        #ffffff 0.53%,
        rgba(255, 255, 255, 0.5) 145.92%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: start;
    margin-bottom: 32px;
  }

  &__link-with-icon {
    display: flex;
    flex-direction: row;
    text-align: left;
    float: left;
    align-self: flex-start;
    align-items: flex-start;
    justify-content: left;
    column-gap: 0.5rem;
    cursor: pointer;

    &__link {
      @include med;
      font-size: 16px;
      line-height: 150%;
      color: #dfdfdf;
      display: flex;
      column-gap: 0.3rem;

      &:hover {
        text-decoration: underline;
      }
    }

    &__icon {
      width: 25px;
      height: auto;
    }
  }
}
