.domains {
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    @include semi;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -0.03em;
    color: var(--b-gray);
    padding-top: 10px;
    margin-bottom: 12px;
  }

  &__domain {
    &__header {
      &__container {
        display: flex;
        align-items: center
      }
    }

    @include med;
    margin-top: 30px;
    font-size: 16px;
    line-height: 150%;
    background: linear-gradient(
        90deg,
        #ffffff 0.53%,
        rgba(255, 255, 255, 0.5) 145.92%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: start;
    border: 1px solid #777777;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
  }
}
