.feedback {
  margin-top: 108px;
  padding-bottom: 60px;

  &__energy {
    &__wrapper {
      margin: 20px 0px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__energize-button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      color: var(--white);
      cursor: pointer;
    }

    &__container {
      display: flex;
    }

    &__label {
      &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 2px;
        cursor: pointer;
      }

      &__text {
        padding-left: 5px;
      }
    }
  }
}

.feedback__questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feedback__energy-wrapper {
  margin-top: 60px;
}

.feedback__quality-wrapper {
  margin-top: 20px;
}

.feedback__question-btn {
  @include semi;
  display: block;
  border: none;
  background-color: transparent;
  color: var(--white);
  padding: 0;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -0.03em;
  width: 180px;
}

.feedback__users {
  margin-top: 302px;
}

.feedback__title {
  @include semi;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -0.03em;
  text-align: center;
  color: var(--b-grey);
}

.feedback__save {
  display: flex;
  justify-content: center;

  &__button {
    font-size: 15px;
    color: white;
    display: block;
    height: 40px;
    padding: 0px 20px;
    margin: 10px 0px;
    background-color: var(--light-gray);
    border-radius: 10px;
    box-shadow: 0px -1px 14px 2px rgba(255, 252, 252, 0.4);
  }
}
