.landing {
  margin-top: 108px;
}

.landing__h1 {
  @include semi;
  font-size: 48px;
  max-width: 240px;
  line-height: 125%;
  letter-spacing: -0.03em;
}

.landing__text-wrapper {
  margin-top: 162px;
  letter-spacing: -0.03em;
}

.landing__title {
  @include semi;
  font-size: 24px;
  line-height: 130%;
}

.landing__text {
  @include med;
  margin-top: 30px;
  font-size: 16px;
  line-height: 150%;
  background: linear-gradient(90deg,
      #ffffff 0.53%,
      rgba(255, 255, 255, 0.5) 145.92%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.landing__input-form {
  margin-top: 60px;
  margin-bottom: 208px;
}

.landing__input-name {
  @include semi;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -0.03em;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 22px;
}

.form__btn-wrapper {
  max-width: 220px;
}

.form__btn {
  display: block;
  margin-top: 32px;
  border: none;
  background-color: var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 57px;
  border-radius: 14px;
  width: 100%;

  &:disabled {
    cursor: not-allowed;
    color: var(--s-grey);
  }
}

.form__btn-text {
  @include semi;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: var(--b-grey);
}

.brightid__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
  padding: 14px 20px;
}