.profile {
  margin-top: 108px;
  padding-bottom: 60px;
}

.profile__sphere {
  margin-top: 128px;
}

.profile__users {
  margin-top: 160px;
}

.profile__title {
  @include semi;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -0.03em;
  text-align: center;
  color: var(--b-grey);
}
