.app-explorer__switch-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-explorer__humans-stat {
  margin-top: 42px;
}

.app-explorer__table-name {
  font-size: 12px;
  margin-left: auto;
  margin-bottom: 12px;
  width: fit-content;
  display: block;
}
