.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;

  &--open {
    opacity: 1;
    pointer-events: auto;

    .popup__window {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }
  }
}

.popup__backdrop {
  width: 100%;
  height: 100%;
  background-color: var(--grey);
  opacity: 0.6;
  position: absolute;
  z-index: 1;
}

.popup__window {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  opacity: 0;
  transform: translateY(60px);
  pointer-events: none;
  transition: opacity, transform;
  transition-timing-function: ease;
  transition-duration: 0.3s;
}

.popup__qr-popup {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  max-width: 344px;
  width: 100%;
  background-color: var(--grey);
  border-radius: 20px;
}

.popup__close {
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: transparent;
  width: 18px;
  height: 18px;
  display: block;
  z-index: 3;
}

.popup__close-line {
  width: 18px;
  height: 2px;
  background-color: #fff;
  display: block;

  &:nth-child(1) {
    transform: rotate(45deg);
  }

  &:nth-child(2) {
    transform: rotate(-45deg);
    position: relative;
    top: -2px;
  }
}

.popup__qr-text {
  @include semi;
  font-size: 24px;
  line-height: 135%;
  letter-spacing: -0.03em;
  color: var(--white);
  margin-top: 45px;
  margin-bottom: 18px;
  max-width: 300px;
}

.popup__qr-btn {
  max-width: 100px;
  background-color: var(--b-grey);
  color: var(--grey);
  margin-top: 28px;
  margin-bottom: 44px;
}

.popup__qr-img {
  border-radius: 10px;
  overflow: hidden;
}
