.app-energy__indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 40px;
}

.app-energy__indicator-text {
  @include semi;
  font-size: 24px;
  line-height: 135%;
  letter-spacing: -0.03em;
  color: var(--white);
}

.app-energy__indicator-wrapper {
  display: block;
  position: relative;
  max-width: 342px;
  width: 100%;
  height: 16px;
  background-color: var(--grey);
  border-radius: 80px;
  margin-top: 32px;
  margin-bottom: 12px;
}

.app-energy__indicator-line {
  position: absolute;
  width: 60%;
  height: 16px;
  background-color: var(--b-grey);
  border-radius: 80px;
  box-shadow: 0px 0px 40px #ffffff;
}

.app-energy__indicator-percents {
  @include mono-bold;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: var(--grey);
}

.app-energy__stat-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 38px;
}

.app-energy__stat-button {
  @include semi;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -0.03em;
  color: var(--grey);
  display: block;
  border: none;
  background-color: transparent;
  padding: 0;
  margin-right: 32px;

  &:last-child {
    margin-right: 0;
  }

  &--active {
    color: var(--b-grey);
  }
}

.app-energy__switch-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-energy__humans-stat {
  margin-top: 42px;
}

.app-energy {
  &__total-amount {
    &__container {
      display: flex;
      flex-direction: row-reverse
    }

    &__text {
      text-align: center;
      width: 130px;
      margin-bottom: 5px;
    }
  }

  &__link {
    text-decoration: underline;
    font-weight: 500;
    color: #ffffff;
  }
}


.app-energy__save {
  display: flex;
  justify-content: center;

  &__button {
    font-size: 15px;
    color: white;
    display: block;
    position: fixed;
    bottom: 4%;
    height: 40px;
    padding: 0px 20px;
    background-color: var(--light-gray);
    border-radius: 10px;
    box-shadow: 0px -1px 14px 2px rgba(255, 252, 252, 0.4);
  }
}

.app-energy__check-mark {
  display: flex;
  align-items: center;
  justify-content: center;
}
