.btn {
  border: none;
  background-color: var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 52px;
  border-radius: 14px;
  @include semi;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: var(--b-gray);

  &:disabled {
    cursor: not-allowed;
    color: var(--s-gray);
  }
}
