.aura-statistics {
  text-align: left;
  width: 100%;
  color: #212529;
  margin: 0.5rem 0;

  &-title {
    @include semi;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: -0.03em;
    text-align: left;
    color: var(--b-gray);
    width: 100%;
    margin-top: 1.5rem;
  }


  &__detail-button {
    cursor: pointer;

    &:hover {
      background-color: var(--gray);
    }
  }
}

.aura-statistics th,
.aura-statistics td {
  min-width: 50px;
  padding: 0.3rem;
  vertical-align: top;
}

.aura-statistics thead th {
  vertical-align: bottom;
}

.aura-statistics {
  color: #fff;
}
