.result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 420px;
  }
}

.result__circle {
  width: 48px;
  height: 48px;
  border-radius: 80px;
  background-color: #f7814a;
}

.result__tag {
  @include semi;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: -0.03em;
  color: var(--b-gray);
  margin-left: -15px;
}

.result__num {
  @include med;
  font-size: 14px;
  line-height: 200%;
  letter-spacing: -0.03em;
  color: var(--b-gray);
}
