.checkbox-wrapper {
  align-self: start;
  margin-left: 42px;
}

.checkbox {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  margin-top: 20px;
  display: flex;
  align-items: center;
  width: fit-content;
}

.checkbox span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}

.checkbox span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #89888A;
  transition: border .5s ease;
}

.checkbox span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: var(--silver);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all .3s ease;
  transition-delay: .1s;
  transform: translate3d(0, 0, 0);
}

.checkbox span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--silver);
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}

.checkbox span:last-child {
  @include reg;
  display: block;
  padding-left: 12px;
  font-size: 14px;
  line-height: 100%;
  color: var(--s-grey);
}

.checkbox:hover span:first-child {
  border-color: var(--silver);
}

.input-checkbox:checked+.checkbox span:first-child {
  background: transparent;
  animation: wave .4s ease;
}

.input-checkbox:checked+.checkbox span:first-child svg {
  stroke-dashoffset: 0;
}

.input-checkbox:checked+.checkbox span:first-child:before {
  transform: scale(3.5);
  opacity: 0;
  transition: all .6s ease;
}
