.feedback__energy-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.feedback__energy-title {
  @include semi;
  font-size: 24px;
  line-height: 115%;
  letter-spacing: -0.03em;
}

.range-slider {
  margin-top: 42px;
}

.feeback__energy-wrapper {
  width: 220px;
  height: 16px;
  border-radius: 80px;
  background: var(--grey);
  position: relative;
}

.feedback__energy-input {
  appearance: none;
  outline: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.feedback__energy-input::-webkit-slider-thumb {
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 80px;
  background-color: var(--b-grey);
  border: 2px solid var(--b-grey);
  box-shadow: 0px 4px 4px 0px var(--black);
  box-shadow: 0px 0px 20px 0px var(--white);
  z-index: 2;
  position: relative;
}

.feedback__energy-block {
  background-color: #666666;
  width: 71px;
  position: absolute;
  border-radius: 80px;
  top: 2px;
  bottom: 2px;
  left: 0;
  margin-left: 2px;
  z-index: 1;
  pointer-events: none;
}

.feedback__energy-division {
  background-color: var(--grey);
  height: 14px;
  width: 2px;
  position: absolute;
  pointer-events: none;
  left: 57px;
  z-index: 1;
  top: 1px;
}

.feedback__percents {
  display: flex;
  justify-content: center;
  align-items: center;
  @include mono-bold;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: var(--grey);
  margin-top: 10px;
}
