.feedback__quality-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.feedback__quality-title {
  @include semi;
  font-size: 24px;
  line-height: 115%;
  letter-spacing: -0.03em;
}

.range-slider {
  margin-top: 42px;
}

.feedback__quality-input {
  position: relative;
  z-index: 2;
  width: 220px;
  appearance: none;
  height: 32px;
  border-radius: 80px;
  background: rgba(255, 255, 255, 0.2);
  outline: none;

  &::-webkit-slider-thumb {
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 80px;
    background-color: var(--b-grey);
    border: 2px solid var(--b-grey);
    box-shadow: 0px 4px 4px 0px var(--black);
    box-shadow: 0px 0px 20px 0px var(--white);
  }
}

.feedback__quality-label {
  position: relative;
  width: fit-content;
  height: fit-content;
  overflow: hidden;
}

.feedback__quality-prev-value {
  z-index: 1;
  position: absolute;
  display: block;
  width: 0%;
  height: 16px;
  border-radius: 80px;
  background-color: white;
  opacity: 0.1;
}

.feedback__percents {
  display: flex;
  justify-content: center;
  align-items: center;
  @include mono-bold;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  margin-top: 10px;
}
