.switch-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-button {
  @include bold;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: -0.03em;
  background-color: var(--grey);
  // border: 2px solid var(--s-grey);
  border-radius: 70px;
  color: var(--s-grey);
  padding: 6px 16px 5px 16px;
  margin-right: 10px;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;

  &:last-child {
    margin-right: 0;
  }

  &--active {
    color: var(--white);
    background-color: var(--grey);
    // border: 2px solid var(--b-grey);
    opacity: 1;
  }
}

.filter-button__icon {
  display: block;
  margin-left: 4px;
  position: relative;
  top: 1px;
}
