.switch-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 100%;
  // @media (max-width: $br1) {
  //   overflow: scroll;
  //   justify-content: flex-start;
  //   margin-left: -16px;
  //   width: calc(100% + 32px);
  //   max-width: none;
  //   padding-left: 16px;
  //   padding-right: 16px;
  // }
}

.filter-button {
  @include bold;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: -0.03em;
  background-color: var(--gray);
  // border: 2px solid var(--s-gray);
  border-radius: 70px;
  color: var(--s-gray);
  padding: 6px 16px 5px 16px;

  opacity: 0.5;
  display: flex;
  white-space: nowrap;
  justify-content: center;
  align-items: center;

  &--active {
    color: var(--white);
    background-color: var(--gray);
    // border: 2px solid var(--b-gray);
    opacity: 1;

    &--clear {
      @include bold;
      font-size: 12px;
      line-height: 100%;
      color: white;
      padding: 5px 16px 4px 16px;
      background-color: #111111;
      border: 1px solid #3f3f3f;
      border-radius: 20px;
    }

    &--clear:hover {
      border: 1px solid var(--light-gray);
      background-color: #1f1f1f;
    }
  }
}

.filter-button__icon {
  display: block;
  margin-left: 4px;
  position: relative;
  width: 8px;
  top: 1px;
}
