.header {
  background-color: var(--black);
  position: fixed;
  z-index: 100;
  width: 100%;
  max-width: 460px;
  margin: 0 auto;
}
.header__nav {
}
.header__img-wrapper {
}
.img {
}
.header__img {
}
.header__info {
}
.header__title {
}
.header__title-link {
}
