.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  max-width: 460px;
  top: 0;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 28px;
}

.header__info {
  align-self: flex-end;
}

.header__title {
  @include mono-reg;
  line-height: 120%;
  font-size: 10px;
  color: var(--s-grey);
  letter-spacing: -0.03em;
}

.header__title-link {
  @include semi;
  color: var(--white);
  letter-spacing: 0;
}
