.load-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 70px;
}

.load-more__text {
  @include semi;
  color: var(--white);
  font-size: 16px;
  line-height: 175%;
  letter-spacing: -0.03em;
}
