.profile__block-left {
  width: 100%;
}

.profile__user-info {
  @include col(5, 8);
}

.profile__username {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.profile__nickname {
  @include semi;
  font-size: 24px;
  line-height: 115%;
  letter-spacing: -0.03em;
  overflow: hidden;
  max-width: 94%;
  text-overflow: ellipsis;
}

.profile__name {
  color: var(--s-grey);
  margin-top: 4px;
}

.profile__block-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.profile__rating {
  @include mono-bold;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: var(--b-grey);

  &--bronze {
    color: var(--red);
  }

  &--silver {
    color: var(--amber);
  }

  &--gold {
    color: var(--green);
  }
}

.profile__functions {
  display: flex;
  align-items: flex-end;
  margin-top: 10px;
}

.profile__edit {
  margin-right: 18px;
  background-color: transparent;
}

.profile__share {
  background-color: transparent;
}

.profile__info {
  @include mono-bold;
  color: var(--s-grey);
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  margin-top: 6px;

  @media screen and (max-width: 330px) {
    font-size: 14px;
  }
}
