.text__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 70px;
}

.text__button {
  display: block;
  border: none;
  background-color: transparent;
  padding: 0;
}

.text__btn-content {
  @include semi;
  color: var(--white);
  font-size: 16px;
  line-height: 175%;
  letter-spacing: -0.03em;
}
