.user-item__list {
  justify-content: space-between;
  width: 100%;
  margin-top: 42px;
  row-gap: 40px;
}

.user-item__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.user-item__username {
  display: flex;
  align-items: center;
  overflow: hidden;
  max-width: 70%;
}

.user-item__image {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 90px;
  margin-right: 30px;
  object-fit: contain
}

.user-item {
  &__tag {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    &__name {
      @include semi;
      font-size: 16px;
      line-height: 150%;
      color: var(--b-gray);
      letter-spacing: -0.03em;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-right: 10px;
      width: 100px;
    }

    &__aura-verification {
      @include semi;
      font-size: 13px;
      letter-spacing: -0.03em;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.user-item__rate {
  color: var(--s-gray);
}
