.user-v2__humans-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.user-v2__numbers {
  display: flex;
  align-items: center;

  @media (max-width: '330px') {
    flex-direction: column;
    gap: 6px;
  }
}

.user-v2__num {
  @include med;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.03em;
}

.user-v2__num-inbound {
  color: var(--b-grey);
  margin-right: 6px;
}

.user-v2__num-outbound {
  color: var(--s-grey);
}

.user-item__rate {
  color: var(--s-grey);
}
