* {
  &::selection {
    color: white;
    background: var(--gray);
  }
}

html {
  height: 100vh;
  height: var(--vh);
  font-size: 1rem;
}

body {
  background-color: var(--black);
  color: var(--white);
  @include reg;
  font-size: 1rem;
  position: relative;
  overscroll-behavior-y: none;
}

img,
svg {
  display: block;
  max-width: 100%;
}

.e-fixed {
  overflow: hidden !important;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}


.aura-verification-color {
  color: var(--s-gray);

  &--bronze {
    color: var(--aura-verification-bronze);
  }

  &--silver {
    color: var(--aura-verification-silver);
  }

  &--gold {
    color: var(--aura-verification-gold);
  }
}

.debug-error {
  margin: 30px;
  color: red;
}
