* {
  &::selection {
    color: white;
    background: #ece5df;
  }
}

html {
  height: 100vh;
  height: var(--vh);
  overflow: hidden;
  font-size: 1rem;
}

body {
  color: var(--black);
  font-size: 1rem;
  // @include reg;
  position: relative;
  overscroll-behavior-y: none;
  @include smooth-font;
}

.e-fixed {
  overflow: hidden !important;
}
